name: asan
on: 
  pull_request:
  schedule:
    - cron: '42 0 * * *'

jobs:
  asan:
    name: asan
    runs-on: ubuntu-20.04
    steps:
      - name: deps
        uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: foxy
      - name: build_and_test
        uses: ros-tooling/action-ros-ci@v0.2
        env:
          CC: clang
          CXX: clang++
        with:
          target-ros2-distro: foxy
          # build all packages listed in the meta package
          package-name: |
            rmf_traffic
          vcs-repo-file-url: |
            https://raw.githubusercontent.com/open-rmf/rmf/main/rmf.repos
          colcon-defaults: |
            {
              "build": {
                "mixin": ["asan-gcc"],
                "cmake-args": ["-DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS=-fsanitize-blacklist=rmf_traffic/.github/config/asan_blacklist.txt -DCMAKE_C_FLAGS=-fsanitize-blacklist=rmf_traffic/.github/config/asan_blacklist.txt"]
              },
              "test": {
                "cmake-args": ["-DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS=-fsanitize-blacklist=rmf_traffic/.github/config/asan_blacklist.txt -DCMAKE_C_FLAGS=-fsanitize-blacklist=rmf_traffic/.github/config/asan_blacklist.txt"]
              }
            }
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
      - name: upload_test_stream
        uses: actions/upload-artifact@v2
        with:
          name: colcon-test-logs
          path: ${{ steps.build_and_test.outputs.ros-workspace-directory-name }}/log/latest_test/rmf_traffic/streams.log
        if: always()
