name: asan
on:
  pull_request:
  schedule:
    - cron: '42 0 * * *'

jobs:
  asan:
    name: asan
    runs-on: ubuntu-20.04
    steps:
      - name: create_blacklist
        run: echo "fun:*Eigen*" > /home/runner/work/blacklist.txt
      - name: deps
        uses: ros-tooling/setup-ros@0.7.1
        with:
          required-ros-distributions: iron
      - name: build_and_test
        uses: ros-tooling/action-ros-ci@0.3.5
        env:
          CC: clang -fsanitize-blacklist=/home/runner/work/blacklist.txt
          CXX: clang++ -fsanitize-blacklist=/home/runner/work/blacklist.txt
        with:
          target-ros2-distro: iron
          # build all packages listed in the meta package
          package-name: |
            rmf_traffic
          vcs-repo-file-url: |
            https://raw.githubusercontent.com/open-rmf/rmf/main/rmf.repos
          colcon-defaults: |
            {
              "build": {
                "mixin": ["asan-gcc"],
                "cmake-args": [
                   "-DCMAKE_BUILD_TYPE=Debug"]
              }
            }
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
      - name: Upload failed test results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-results
          path: ros_ws/build/*/test_results/*/*.catch2.xml
      - name: upload_test_stream
        uses: actions/upload-artifact@v2
        with:
          name: colcon-test-logs
          path: ${{ steps.build_and_test.outputs.ros-workspace-directory-name }}/log
        if: always()
